<div class="pull-right" {{action "removeConverter"}}>Remove</div>
<form>
    <div class="form-group">
      <input value={{model.label}} placeholder="Add Label" class="form-control" oninput={{action "saveLabel" value="target.value"}}>
    </div>
    <div class="form-group">
        <label>Current Unix Timestamp</label>
        <input value={{currentTimeDisplay}} id="robot"  
        onfocus={{action "pause"}} 
        oninput={{action "convertTimestamp" value="target.value"}}
        class="form-control" 
        placeholder="Type a timestamp (ex. 1456249984)"/>
    </div>
    <div class="form-group">
        <label>Current Date and Time ({{currentTimezone.name}})</label>
        {{timezone-select onChange=(action 'timezoneChanged') timezones=timezones timezoneSelected=currentTimezone}}
        {{input type="text" class="form-control" value=humanDate disabled="disabled"}}
    </div>
    <div class="form-group">
        <label>Current Date and Time (UTC)</label>
        {{input type="text" class="form-control" value=humanDateUtc disabled="disabled"}}
    </div>
    {{#liquid-if isNotPaused class="button-area"}}
        <button type="submit" class="btn btn-danger btn-lg pull-left" {{action "pause"}}><span class="glyphicon glyphicon-pause"></span></button>
    {{else}}
        <button type="submit" class="btn btn-success btn-lg pull-left" {{action "play"}}><span class="glyphicon glyphicon-play"></span></button>
    {{/liquid-if}}
</form>