<div class="container">
  <h1>
    Epocha
    <img style="width: 40px;" src="img/world-clock.png" />
  </h1>
  <p class="lead">
    Easy epoch to date converter
    <LinkTo @route="about">
      <span class="glyphicon glyphicon-question-sign" title="What is this?"></span>
    </LinkTo>
  </p>

  <button class="btn btn-default" {{action "toggleHelp"}}>
    {{#if helpCollapsed}}
      Help
    {{else}}
      Close
    {{/if}}
  </button>

  <BsCollapse @collapsed={{helpCollapsed}}>
    <div class="well">
      <p>
        Start by pasting an unix timestamp and selecting your timezone.
        <br />
        Epocha will automatically convert it for you into a readable date and time.
        <br />
        You can change the timezone at any time.
        <br />
        Also, you can label your converter and add another one by clicking the 'Add New' button. This is handy for
        comparing timestamps side-by-side.
      </p>
    </div>
  </BsCollapse>

  <div class="container-fluid">
    <div class="row">
      {{#each model as |converter index|}}
        <UnixConverter @model={{converter}} @index={{index}} />
      {{/each}}
      <div class="pad-15 text-center">
        <button class="btn btn-default btn-margin-top" {{action "addConverter"}}>
          Add New
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>
  </div>
</div>