<div class="row">
    <div class="col-md-12">
        {{#link-to 'application'}}
            Back
        {{/link-to}}
        <form>
            {{input id="robot" type="text" class="form-control" placeholder="Robot Date" value=currentTime disabled=isNotPaused}}
            {{input type="text" class="form-control" value=humanDate disabled=isNotPaused}}
            {{#if isNotPaused}}
                <button type="submit" class="btn btn-primary" {{action "pause"}}>||</button>
            {{else}}
                <button type="submit" class="btn btn-primary" {{action "play"}}>></button>
            {{/if}}
        </form>
    </div>
</div>